{% extends "layout.html" %}
{% load static %} <!-- or you won't be able to use static tag here -->

{% block title %}IIS Diagram{% endblock %}

{% block other-css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
<script src="{% static "/js/main.js" %}"></script>

{% endblock %}


{% block main %}
<div style="text-align: center;">
  <h1>Apple</h1> <!-- level 1 heading -->
</div>
<!--
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<div style="display: inline-block">
{{ chart.as_html }}
</div>
-->
<div style="display: inline-block;width:50%">
<img src="{% static "images/pic001.png" %}" style="float:left;padding:20px;width:1000px">
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="display: inline-block;padding: 20px">
  <div id="tradingview_555a0"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width":880,
  "height":610,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "details": true,
  "container_id": "tradingview_555a0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

<form class="pt-2" style="width:50%;margin:auto;padding-bottom: 20px" action="#gtrend"> <!-- Form element are input elements, like text fields, checkboxes, .... -->
	<div class="input-group"> <!--.input-group is a container adding an icon, text or a button to an input-->
	  <!-- 輸入欄 -->
	  <input type="text" class="form-control" placeholder="Enter keywords" id="query-text-field">
	  <!-- 送出按鈕 -->
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary" id="start-query" >Search</button>
          </div>
	</div>
</form> <!-- end of query box -->

<div style="width: 70%;height:500px;margin: auto;">
<iframe style="width:100%;height:450px;margin: auto" id="gtrend" src="/savior/gtrend">
<!--<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1671_RC04/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Apple","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"q=Apple&geo=US&date=today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
-->
</iframe>
</div>

{% endblock %}
